/* Whole page settings */
html,
body {
	font-family: "usual", sans-serif !important;
	
	/* Horizontal menu consistency */
	float: left;
	width: 100%;
}

/* Indent from horizontal menu */
.book{
	margin-top: 65px;
	position: relative;
}
#documentation {
	height: calc(100% - 65px);
	position: relative;
}

/* iOS Optimization Fix */
.book-inner {
	top: 50px;
}
.page-wrapper {
	padding-top: 50px !important;
}
.book .book-header {
	position: fixed;
	height: 51px;
	right: 0px;
	left: 0px;
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid rgba(0,0,0,.07);
	z-index: 9;
}
@media only screen and (max-width: 600px) {
	.book .book-header {
		left: 0px;
		position: fixed;
	}
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
	.book .book-header {
		left: 0px;
		position: fixed;
	}
	.book.with-summary .book-header {
		left: 300px;
	}
}
@media only screen and (min-width: 1025px) {
	.book .book-header {
		left: 0px;
		position: fixed;
	}
	.book.with-summary .book-header {
		left: 300px;
	}
}

/* Horizontal menu */
#navigation {
	width: 100%;
	height: 65px;
	background: #ffffff;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
	position: absolute;
	z-index: 10;
	float: left;
}
#navigation .logo {
	display: block;
	height: 65px;
	width: 192px;
	float: left;
	background-size: 140px;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	line-height: 55px;
}
#navigation .icon.icon-hamburger {
	position: absolute;
    font-size: 22px;
    line-height: 60px;
    padding: 0 21%;
	padding-top: 2px;
}
#navigation .showNavigation {
	height: 65px;
    width: 20%;
    float: left;
    border-right: solid 1px #e6e6e6;
    cursor: pointer;
    position: relative;
    display: none;
}

/* Horizontal menu - Inside: Desktop (1024px +) */
#navigation ul {
	margin: 0;
	float: none;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: -1;
	margin-left: -28.6px
}
#navigation ul li {
	border-right: solid 1px #e6e6e6;
	display: inline-block;
	float: none;
	margin-left: -3.7px
}
#navigation ul li:first-child {
	border-left: solid 1px #e6e6e6;
}
#navigation ul li a {
	display: block;
	height: 100%;
	overflow: hidden;
	line-height: 65px;
	font-size: 14px;
	color: #2c232c;
	text-decoration: none;
	padding: 0 30px;
	font-weight: 600;
	text-transform: uppercase;

	/* Override of GitBook style */
	font-family: "usual", sans-serif !important;
	letter-spacing: 0px !important;
}
#navigation ul li a:hover {
	color: #e6381c;
	cursor: pointer;
}
#navigation ul li.selected a {
	background: #f6f6f6;
	color: #222222;
}
#navigation ul li.selected a:hover {
	color: #e6381c;
}

/* Horizontal menu - Inside: Phone & Tablet */
@media only screen and (max-width: 1024px) {
	#navigation ul {
		position: absolute;
		display: none;
		margin-top: 65px;
		width: 100%;
		border-top: solid 1px #e6e6e6;
		z-index: 100;
		padding: 0;
		right: 0;
	}
	#navigation ul li {
		width: 100%;
		border-right: none;
		border-bottom: solid 1px #e6e6e6;
		background: #ffffff;
		text-align: center;
		float: left;
	}
	#navigation .logo {
		position: absolute;
		left: 50%;
		margin-left: -96px;
		font-size: 20px;
		line-height: 60px;
		margin-top: 1px;
	}
	#navigation .showNavigation {
		display: block;
		width: 61px;
	}
}

/* Logo in SVG */
.icon:before {
    content:' ';
	width: 6.349em;
	height: 1.302em;
    vertical-align:middle;
    display: inline-block;
    background-image: url("../images/sprite.svg");
    background-repeat: no-repeat;
    background-size: 100em 204.6em;
	background-position: 0em -191.1em;
}
/* Logo in PNG, if SVG not supported */
.no-svg .icon:before {
    background-image: url("../images/sprite.png");
}

/* Hamburger in SVG and PNG */
.icon.icon-hamburger:before {
	background-position: 0em -31.7em;
	width: 1.6em;
	height: 1.6em;
}